@{
    ViewData["Title"] = "Profile";
}

@model ProfileViewModel

<div id="profile-container">
    <div id="profile-header">
        <img id="profile-avatar" src="https://cdn-icons-png.flaticon.com/512/3607/3607444.png">
        <div id="profile-content">
            <div id="profile-info">
                <div id="profile-info-header">
                    <div>
                        <h2>@Model.User.FirstName @Model.User.LastName</h2>
                        <div id="profile-location">
                            <img src="~/assets/point.png">
                            <p>@Model.User.Address</p>
                        </div>
                    </div>
                    @if ((string)ViewData["UserId"] == @Model.User.Id)
                    {
                        <a id="profile-edit-btn">Edit profile</a>
                    }
                </div>
            <p id="profile-desc">@Model.User.Description</p>
            </div>
            <div id="profile-stats">
                <div class="profile-stats-child">
                    <img src="~/assets/work.png">
                    <div class="profile-stats-child-text">
                        <p class="profile-stats-child-amount">@Model.WorkCount</p>
                        <p class="profile-stats-child-title">Workings</p>
                    </div>
                </div>
                <div class="profile-stats-child">
                    <img src="~/assets/education.png">
                    <div class="profile-stats-child-text">
                        <p class="profile-stats-child-amount">@Model.EducationCount</p>
                        <p class="profile-stats-child-title">Educations</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="profile-body">

        <div id="profile-experience-parent">
            <div class="profile-experience-child">
                <h2 class="content-title">Work experience</h2>
                <div class="roadmap-parent">
                    @if (Model.WorkCount > 0) {
                        @foreach (QualificationViewModel q in Model.Work) {
                            <div class="roadmap-child">
                                <div class="roadmap-progress"></div>
                                <div class="roadmap-content">
                                    <h3 class="roadmap-title">@q.Title</h3>
                                    <i class="roadmap-place">@q.Location</i>
                                    <span class="roadmap-date">@q.StartDate-@q.EndDate</span>
                                    <span class="roadmap-strong">Description</span>
                                    <p>@q.Description</p>
                                </div>
                            </div>
                        }
                    } else {
                        <p>User doesn't have any work experience.</p>
                    }
                </div>

            </div>
            <div class="profile-experience-child">

                <h2 class="content-title">Work Experience</h2>
                <div class="roadmap-parent">
                    @if (Model.EducationCount > 0) {
                        @foreach (QualificationViewModel e in Model.Education)
                        {
                            <div class="roadmap-child">
                                <div class="roadmap-progress"></div>
                                <div class="roadmap-content">
                                    <h3 class="roadmap-title">@e.Title</h3>
                                    <i class="roadmap-place">@e.Location</i>
                                    <span class="roadmap-date">@e.StartDate-@e.EndDate</span>
                                    <span class="roadmap-strong">Description</span>
                                    <p>@e.Description</p>
                                </div>
                            </div>
                        }
                    }else {
                        <p>User doesn't have any education.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>