@using System.Security.Claims
@{
    ViewData["Title"] = "Edit qualification";
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

@model UpdateQualificationViewModel

@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<div class="form-container">
    <div class="form-wrapper">
        <div class="form-header">
            <h2>Change qualification</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="form-content">
<<<<<<< HEAD:Web/Views/Profile/UpdateQualification.cshtml
            <form class="form" asp-controller="Profile" asp-action="UpdateQualification" asp-route-id="@userId" asp-route-qid="@Model.QualId" method="post">
                <input type="hidden" asp-for="QualId" />
=======

            <div asp-validation-summary="All"></div>

            <form class="form" asp-controller="Edit" asp-action="EditQualification" asp-route-id="@userId" asp-route-qid="@Model.QualId" method="post">
                <input type="hidden" asp-for="QualId"/>
>>>>>>> 4d4e95a5254c073dde5934b3241ac2c1f0ef685a:Web/Views/Edit/EditQualification.cshtml
                <div class="form-child">
                    <label>Title</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-heading"></i></div>
                        <input type="text" placeholder="Write title here" asp-for="Title">
                    </div>
                </div>
                <div class="form-child">
                    <label>Location</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-location-dot"></i></div>
                        <input type="text" placeholder="Stockholm" asp-for="Location">
                    </div>
                </div>
                <div class="form-child">
                    <label>Description</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-quote-left"></i></div>
                        <input type="text" placeholder="Lorem ipsum" asp-for="Description">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-child">
                        <label>Start date</label>
                        <div class="form-child-input">
                            <div><i class="fa-solid fa-calendar-days"></i></div>
                            <input type="date" placeholder="2024-01-01" asp-for="StartDate">
                        </div>
                    </div>
                    <div class="form-child">
                        <label>End date</label>
                        <div class="form-child-input">
                            <div><i class="fa-solid fa-calendar-days"></i></div>
                            <input type="date" placeholder="2025-01-01" asp-for="EndDate">
                        </div>
                    </div>
                </div>
                <div class="form-child">
                    <label>Type</label>
                    <div class="form-child-input">
                        <div><i class="fa-solid fa-quote-left"></i></div>
                        <select asp-items="@ViewBag.options" asp-for="TypeId"></select>
                    </div>
                </div>
                <div class="form-row">
                    <button type="submit" class="submit">Save</button>
                    @* <button type="submit" class="delete">Delete</button> *@
                </div>
            </form>
        </div>
    </div>
</div>