@using Web.Models.Project
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> signInManager

@{
    ViewData["Title"] = "Projects";
}

@{
    var notifyType = TempData["NotifyType"] as string;
    var notifyMessage = TempData["NotifyMessage"] as string;

    @if (!string.IsNullOrEmpty(notifyMessage) && !string.IsNullOrEmpty(notifyType))
    {
        <script>
            notify({ type: "@notifyType", text: "@notifyMessage" });
        </script>
    }
}

@model List<ProjectViewModel>

<header id="project-header">
    <ul>
        <li><a asp-controller="Project" asp-action="Index" class="selected">All</a></li>
        <li><a asp-controller="Project" asp-action="MyProjects">My projects</a></li>
    </ul>
</header>
<div class="project-content-wrapper">
    <div class="project-card-parent">
        @foreach (ProjectViewModel project in Model)
        {
            <div class="project-card">
                <h3>@project.Title</h3>
                <p>@project.Description</p>
                <div class="project-card-users-parent">
                    @foreach (ProjectUserViewModel user in project.Collaborators)
                    {
                        bool isPrivate = user.Private;
                        bool isSignedIn = signInManager.IsSignedIn(User);
                        string? avatar = isPrivate && !isSignedIn ? "default.png" : user.AvatarUri;

                        <a class="project-card-user" href="/profile/@user.Id">
                            @if (user.IsOwner)
                            {
                                <i class="fa-solid fa-crown crown"></i>
                            }
                            <img src="/assets/avatars/@avatar" />

                            @if (isPrivate && !isSignedIn)
                            {
                                <div class="project-card-name">Private user</div>
                            }
                            else
                            {
                                <div class="project-card-name">@user.FirstName @user.LastName</div>
                            }
                        </a>
                    }
                </div>
                @if (signInManager.IsSignedIn(User)) {
                    <form asp-controller="Project" asp-action="JoinProject" asp-route-pid="@project.ProjectId" method="post">
                        <button class="project-card-btn">Join</button>
                    </form>
                }
            </div>
        }
    </div>
</div>