@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Web.Models.Home

@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@{
    ViewData["Title"] = "Home";
}

@model HomeViewModel

<div class="carousel-container">
    <h1> Recommended profiles to visit </h1>
    <div class="controls">
        <button id="left"><i class="fa-solid fa-chevron-left" id="profile-left"></i></button>
        <button id="right"><i class="fa-solid fa-chevron-right" id="profile-right"></i></button>
    </div>
    <div class="carousel">
        @for (int i = 0; i < @Model.Users.Count; i++) {
            var user = @Model.Users[i];

            <div class="card" id=@i>
                <img src="/avatars/@user.AvatarUri" />
                <p>@user.FirstName @user.LastName</p>
                <p>@user.Description</p>    
                <a href="/profile/@user.Id">Visit profile</a>
            </div>
        }
    </div>
</div>

<div class="project-container">
    <h1>The most recent project</h1>
    <div class="project">

        <div class="text-container">
            <p class="title">
                @Model.LatestProject.Title
            </p>
            <p class="description">@Model.LatestProject.Description</p>
            <div class="participants">
                @foreach (HomeProjectUserViewModel user in @Model.LatestProject.Users)
                {
                    bool isPrivate = user.IsPrivate;
                    bool isSignedIn = signInManager.IsSignedIn(User);

                    <div class="participant">
                        @if (isPrivate && !isSignedIn)
                        {
                            <a><img src="/avatars/default.png" class="avatar"/></a>
                        }
                        else
                        {
                            <a href="/profile/@user.Id">
                                <img src="/avatars/@user.AvatarUri" class="avatar" />
                            </a>
                        }
                        @if (user.IsOwner) 
                        { 
                            <i class="fa-solid fa-crown crown"></i> 
                        }
                        @if (isPrivate && !isSignedIn)
                        {
                            <p class="name">Private user</p>
                        }
                        else {
                            <p class="name">@user.FirstName @user.LastName</p>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
