@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Web.Models.Home

@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@{
    ViewData["Title"] = "Home";

    var notifyType = TempData["NotifyType"] as string;
    var notifyMessage = TempData["NotifyMessage"] as string;

    @if (!string.IsNullOrEmpty(notifyMessage) && !string.IsNullOrEmpty(notifyType))
    {
        <script>
            notify({ type: "@notifyType", text: "@notifyMessage" });
        </script>
    }
}

@model HomeViewModel

<div class="carousel-container">
    <h1> CV-    Site profiles to visit </h1>
    <div class="controls">
        <button id="left"><i class="fa-solid fa-chevron-left" id="profile-left"></i></button>
        <button id="right"><i class="fa-solid fa-chevron-right" id="profile-right"></i></button>
    </div>
    @{
        int carouselIndex = 0;
    }
    <div id="carousel">
        @foreach (var user in Model.Users)
        {
            bool isPrivate = user.Private;
            bool isSignedIn = signInManager.IsSignedIn(User);

            if (isSignedIn || !isPrivate)
            {
                <div class="card" id="@carouselIndex">
                    <img src="/assets/avatars/@user.AvatarUri" alt="User Avatar" />
                    <p class="card-name">@user.FirstName @user.LastName</p>
                    <a href="/profile/@user.Id">Visit profile</a>
                </div>
                carouselIndex++;
            }
        }
    </div>
</div>

<div class="project-container">
    <h1>The most recent project</h1>
    <div class="project">

        <div class="text-container">
            <p class="title">
                @Model.LatestProject.Title
            </p>
            <p class="description">@Model.LatestProject.Description</p>
            <div class="participants">
                @foreach (HomeProjectUserViewModel user in @Model.LatestProject.Users)
                {
                    bool isPrivate = user.IsPrivate;
                    bool isSignedIn = signInManager.IsSignedIn(User);
                    bool isDeactivated = user.IsDeactivated;
                    string? avatar = (isPrivate && !isSignedIn) || isDeactivated ? "default.png" : user.AvatarUri;

                    <div class="participant">
                        <a href="/profile/@user.Id"><img src="/assets/avatars/@avatar" class="avatar"/></a>
                        @if (user.IsOwner) 
                        { 
                            <i class="fa-solid fa-crown crown"></i> 
                        }
                        @if (isDeactivated)
                        {
                            <p class="name">Deactivated user</p>
                        }
                        else if (isPrivate && !isSignedIn)
                        {
                            <p class="name">Private user</p>
                        }
                        else {
                            <p class="name">@user.FirstName @user.LastName</p>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
