@using Microsoft.AspNetCore.Identity
@using Web.Models.Message

@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@model MessagesViewModel

@{
    ViewData["Title"] = "Messages";
}

<div class="contacts-container">
    <h1>CV-Site users</h1>

    @if (@Model.UserMessages.Count > 0) {
        <div class="contacts-parent">
            @foreach (UserMessagesViewModel message in @Model.UserMessages)
            {
                <a asp-controller="Message" asp-action="Chat" asp-route-id="@message.User.Id" class="contacts-child  @(message.UnreadCount > 0 ? "new" : "")">
                    @if (@message.UnreadCount > 0)
                    {
                        <div class="contacts-new">
                            <p>@message.UnreadCount</p>
                        </div>
                    }
                    <img src="/assets/avatars/@message.User.AvatarUri">
                    <div>
                        <h3>@message.User.FirstName @message.User.LastName</h3>
                        <p>@message.LastMessage</p>
                    </div>
                </a>
            }
        </div>
    }
    else
    {
        <i>No messages.</i>
    }

    @if (Model.AnonymousMessages.Count > 0) {
        <h1>Others</h1>
        <div class="contacts-parent">
            @foreach (AnonymousMessageViewModel message in @Model.AnonymousMessages)
            {
                <div class="contacts-child anonymous  @(message.Read == false ? "new" : "")">
                    @if (!@message.Read)
                    {
                        <div class="contacts-new">
                            <p>1</p>
                        </div>
                    }
                    <div class="contacts-content">
                        <img src="/assets/avatars/default.png">
                        <div>
                            <h3>@message.Name</h3>
                            <p>@message.Text</p>
                        </div>
                    </div>

                    @if (!@message.Read)
                    {
                        <form asp-controller="Message" asp-action="MarkRead" asp-route-mid="@message.Id" method="post">
                            <button class="contacts-read-btn">Mark as read</button>
                        </form>
                    }
                </div>
            }
        </div>
    }
</div>